* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar {
    background-color: #C5EBAA;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.navbar img {
    border-radius: 50%;
    height: 85px;
}
#name {
    text-decoration: none;
    color: black;
    margin-right: auto;
    margin-left: 20px;
    font-size: 20px
}
.buttons {
    display: flex;
    align-items: center;
}
.buttons a {
    text-decoration: none;
    color: black;
    padding: 0 15px;
    font-size: 16px;
}
.buttons a:hover {
    color:  #77c16a;
}
.btn {
    background-color: #A5DD9B;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}
.btn:hover {
    background-color: #77c16a;
}
#name:hover {
    color: #77c16a;
}
.content1 {
    background-color: rgb(241, 241, 241);
    height: 160px;
    text-align: center;
    padding: 15px;
}
.content1 h2{
    color: #f2c18d;
}
.content1 p {
    letter-spacing: 1px;
    padding-top: 20px;
}
.content1 button {
    padding: 7px;
    margin-top: 20px;
    background-color: #f2c18d;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}
.content1 button:hover {
    background-color: #e9b074;
    
}
.content2 .div1{
    background-color: white;
    height: 300px;
}
.content2 .div1 img{
    height: 300px;
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    float: left;
}
.content2 .div1 h3 {
    padding-top: 20px;
}
.content2 .div1 h4 {
    padding-top: 50px;
    padding-left: 34%;
}
.content2 .div1 button {
    margin-top: 50px;
    margin-left: 31.5%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    background-color: #f2c18d;
    text-transform: uppercase;
}
.content2 .div1 button:hover {
    background-color: #e9b074;
}

.content2 .div2{
    background-color: white;
    height: 300px;
}
.content2 .div2 img{
    height: 300px;
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    float: right; 
}
.content2 .div2 h3 {
    padding-top: 20px;
    float: right;
}
.content2 .div2 h4 {
    padding-top: 100px;
    margin-left: 630px;
}
.content2 .div2 button {
    margin-top: 50px;
    margin-left: 47.5%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    background-color: #f2c18d;
    text-transform: uppercase;
}
.content2 .div2 button:hover {
    background-color: #e9b074;
}
.semifooter {
    background-color: rgb(241, 241, 241);
    height: 170px;
    text-align: center;
}
.semifooter h2 {
    padding-top: 30px;
}
.semifooter .socmed {
    padding-top: 10px;
}
.semifooter .socmed a {
    color: black;
    letter-spacing: 5px;
    
}
.semifooter .socmed a:hover {
    color: #77c16a;
}